body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Фоновый цвет для улучшения читаемости */
    margin: 0;
    padding: 0;
}

.screen {
    padding: 20px;
    text-align: center;
}

button {
    background-color: black; /* Черный цвет кнопок */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

button:disabled {
    background-color: gray; /* Серый цвет для неактивной кнопки */
}

#

buttonContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

#buttonContainer button {
    flex: 1;
    margin: 0 5px;
}

h1, p {
    color: #333; /* Цвет текста для улучшения читаемости */
}

#profileContent, #queueContent, #promoContent {
    display: none; /* Изначально скрыты */
}

/* Мобильные стили для темной темы */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Темный фон */
        color: #ffffff; /* Светлый текст */
    }
    button {
        background-color: black;
        color: white;
    }
}
