body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Фоновый цвет для улучшения читаемости */
    margin: 0;
    padding: 0;
}

.screen {
    padding: 20px;
    text-align: center;
}

button {
    background-color: black; /* Черный цвет кнопок */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

button:disabled {
    background-color: gray; /* Серый цвет для неактивной кнопки */
}

#
